// Main For The Home Page

$mainColor: #efe6e6;
$secondColor: #02242c;
$thirdColor: #046880;
$forthColor: #7474ff;

body {
    background-color: rgba($color: $secondColor, $alpha: 0.9);
    height: 100vh;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background-color: $forthColor;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.main {
    width: 100%;
    height: 100%;
    position: relative;
    padding-left: 270px;
    button {
        z-index: 1000;
        width: 30px;
        height: 30px;
        position: absolute;
        left: 0px;
        border: 5px solid $thirdColor;
        border-radius: 0;
        justify-content: center;
        align-items: center;
        background-color: $secondColor;
        padding: 20px;
        border-left-width: 0;
        font-size: 24px;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
    }
    button:hover {
        background-color: $secondColor;
        border-color: $thirdColor;
    }
    nav {
        background-color: rgba($color: $secondColor, $alpha: 0.9);
        min-width: 270px;
        height: 100%;
        z-index: 5;
        left: 0;
        overflow: auto;
        border-right: 5px solid $thirdColor;
        position: fixed;
        transition: all 1s ease-in-out;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        -ms-transition: all 1s ease-in-out;
        -o-transition: all 1s ease-in-out;
        .flex-column {
            height: 100%;
            .container-fluid {
                .navbar-brand {
                    img {
                        width: 200px;
                        height: 200px;
                        border-radius: 50%;
                        filter: grayscale(100%);
                        border: 3px solid $thirdColor;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        -webkit-filter: grayscale(100%);
                        transition: all 0.5s ease-in-out;
                        -webkit-transition: all 0.5s ease-in-out;
                        -moz-transition: all 0.5s ease-in-out;
                        -ms-transition: all 0.5s ease-in-out;
                        -o-transition: all 0.5s ease-in-out;
                    }
                    img:hover {
                        filter: grayscale(0);
                        -webkit-filter: grayscale(0);
                    }
                }
                // button {
                //     z-index: 1000;
                //     width: 30px;
                //     height: 30px;
                //     position: absolute;
                //     left: 270px;
                //     border: 5px solid #046880;
                //     border-radius: 0;
                //     justify-content: center;
                //     align-items: center;
                //     background-color: $secondColor;
                //     padding: 20px;
                //     border-left-width: 0;
                //     font-size: 24px;
                //     transition: all 1s ease-in-out;
                //     -webkit-transition: all 1s ease-in-out;
                //     -moz-transition: all 1s ease-in-out;
                //     -ms-transition: all 1s ease-in-out;
                //     -o-transition: all 1s ease-in-out;
                // }
            }
            hr {
                color: $thirdColor;
            }
            ul {
                li {
                    margin-bottom: 3px;
                    cursor: pointer;
                    a {
                        color: #fff;
                        font-size: 20px;
                    }
                }
                li.active {
                    background-color: $forthColor;
                }
                li:hover:not(.active) {
                    background-color: $thirdColor;
                }
            }
            .made {
                min-height: 100px;
                svg {
                    color: red;
                }
                a {
                    color: $forthColor;
                }
            }
        }
    }

    .container {
        padding: 0;
        .row.first {
            margin: 0;
            height: 100%;
            z-index: 10;
            .col-10 {
                h2 {
                    span {
                        color: $thirdColor;
                    }
                }
                p {
                    font-size: 20px;
                }
                .icons {
                    div.icon {
                        cursor: pointer;
                        border-radius: 50%;
                        width: 60px;
                        height: 60px;
                        margin: 5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 30px;
                        border: 2px solid rgba($color: #fff, $alpha: 0.5);
                        a {
                            color: rgba($color: #fff, $alpha: 0.5);
                            transition: all 0.25s ease-in-out;
                            -webkit-transition: all 0.25s ease-in-out;
                            -moz-transition: all 0.25s ease-in-out;
                            -ms-transition: all 0.25s ease-in-out;
                            -o-transition: all 0.25s ease-in-out;
                        }
                        transition: all 0.25s ease-in-out;
                        -webkit-transition: all 0.25s ease-in-out;
                        -moz-transition: all 0.25s ease-in-out;
                        -ms-transition: all 0.25s ease-in-out;
                        -o-transition: all 0.25s ease-in-out;
                    }
                    .icon:hover {
                        border-color: $thirdColor;
                        a {
                            color: $thirdColor;
                        }
                    }
                }
            }
        }

        .row.second {
            position: absolute;
            left: 0;
            background-color: black;
            top: 0;
            width: 100%;
            height: 100%;
            opacity: 0.2;
            margin: 0;
            z-index: -1;
            .col-12 {
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                .dot {
                    margin: 10px;
                    span {
                        background-color: rgba($color: #fff, $alpha: 0.5);
                        position: absolute;
                        bottom: -50px;
                        border-radius: 50%;
                        -webkit-border-radius: 50%;
                        -moz-border-radius: 50%;
                        -ms-border-radius: 50%;
                        -o-border-radius: 50%;
                        animation: animate 10s ease-in-out infinite;
                        -webkit-animation: animate 10s ease-in-out infinite;
                    }
                }
            }
        }
    }
    // .bubbles {
    //     position: relative;
    //     width: 100%;
    //     height: 100vh;
    //     background-color: rgb(209, 10, 53);
    //     display: flex;
    //     justify-content: center;
    //     align-items: center;
    //     span {
    //         //position: absolute;
    //         width: 20px;
    //         height: 20px;
    //         background-color: #046880;
    //         margin: 1px;
    //         border-radius: 50%;
    //         -webkit-border-radius: 50%;
    //         -moz-border-radius: 50%;
    //         -ms-border-radius: 50%;
    //         -o-border-radius: 50%;
    //     }
    // }
}

@media (width < 768px) {
    .main {
        padding-left: 0;
        button.translate {
            transform: translateX(270px);
            -webkit-transform: translateX(270px);
            -moz-transform: translateX(270px);
            -ms-transform: translateX(270px);
            -o-transform: translateX(270px);
        }
        nav.transform {
            transform: translateX(-270px);
            -webkit-transform: translateX(-270px);
            -moz-transform: translateX(-270px);
            -ms-transform: translateX(-270px);
            -o-transform: translateX(-270px);
        }
        .bubbles {
            transition: all 0.2s ease-in-out;
            -webkit-transition: all 0.2s ease-in-out;
            -moz-transition: all 0.2s ease-in-out;
            -ms-transition: all 0.2s ease-in-out;
            -o-transition: all 0.2s ease-in-out;
        }
    }
}

// Animation
@keyframes animate {
    0% {
        bottom: 0px;
    }
    100% {
        bottom: 950px;
    }
}
// span {
//     animation: animate 10s ease-in-out infinite;
//     -webkit-animation: animate 10s ease-in-out infinite;
// }

// Transition
@import "transition";
